$white: #f8f4ff;
$grey: lighten(#d3d3d3, 8%);
$black: #333333;
$theme: #00753c;

@mixin text($size, $weight) {
  color: $black;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: 0.4px;
}
@mixin input() {
  font-family: inherit;
  font-size: 22px;
  font-weight: 500;
  color: $black;
  width: 100%;
  //max-width: 400px;
  padding: 10px 4px;
  border-radius: 6px;
  border: none;
  border: 3px $black solid;
}
.form {
  border-radius: 8px;
  padding: 100px 30px;
  background-color: $white;
  height: 100%;
  display: flex;
    flex-direction: column;
    align-items: center;
  @include text(22px, 400);
  -webkit-box-shadow: 26px 30px 38px -25px rgba(127, 129, 144, 1);
  -moz-box-shadow: 26px 30px 38px -25px rgba(127, 129, 144, 1);
  box-shadow: 26px 30px 38px -25px rgba(127, 129, 144, 1);
  &__wrap {
        padding: 60px 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & header {
            font-size: 3em;
            font-weight: 700;
            color: $theme;
            text-align: center;
            margin-bottom: 80px;
        }
    }
  &__item {
    width: 85%;
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__heading {
        @include text(32px, 600);
        margin-bottom: 200px;
    }

    &__user {
      @include input();
      background-color: $white;
      transition: border 0.2s linear;
      margin-bottom: 20px;
        padding: 10px;
      &:focus {
        outline: none;
        border: 3px lighten($black, 25%) solid;
      }
    }
    &__pass {
      @include input();
      background-color: $white;
      transition: border 0.2s linear;
      padding: 10px;
      margin-bottom: 20px;

      &:focus {
        outline: none;
        border: 3px lighten($black, 25%) solid;
      }
    }
    &__btn {
      @include input();
      cursor: pointer;
      background-color: lighten($theme, 20%);
      margin-top: 50px;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: lighten($theme, 10%);
      }
    }
  }
}

#back {
    position: absolute;
    top: 10px;
    left: 10px;
    a {
        @include text(1.3em, 500);
        color: $theme;
    }
}
@media (min-width: 1200px) {
    .form {
        width: 55%;
    }
}